# Git 관련
.git
.gitignore

# IDE 관련
.idea
*.iml
.vscode
*.swp
*.swo

# OS 관련
.DS_Store
Thumbs.db

# 로그 파일
*.log

# 임시 파일
*.tmp
*.temp

# 테스트 관련
src/test

# 빌드 결과물 (도커에서 새로 빌드)
build/
out/

# Gradle 캐시
.gradle/
gradle-app.setting

# 환경 설정 파일
.env
application-local.yml
application-dev.yml
